<div class="top-row ps-3 navbar">
	<div class="container-fluid">
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<Icon Type="menu" Theme="outline" />
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" >
	<nav class="flex-column">
		<div class="px-3 text-center">

			<div class="row py-3">
				<div class="col-md-6">
					<img src="https://www.umbrellagraphics.com/realestate/fc/uploads/189/3868_880_0.jpg" width="100" height="50" />
				</div>
				<div class="col-md-6">
					<img src="https://pluspng.com/img-png/our-smileys-for-your-business-because-happy-people-inspire-change-1042.png" class="rounded-circle" width="50" height="50"/>
				</div>
			</div>
			<div class="py-3">
				<div class="py-1">
					<AntDesign.Progress Type="ProgressType.Circle" Percent=100 />
					<p>بودجه مصرف شده</p>
				</div>
				<div class="row  py-1 text-center align-content-center">
					<div class="col-5 border border-1 rounded-3 mx-auto  py-1" style="border-style: dashed !important">
						<p>درآمد</p>
						<p>12,000 ریال</p>

					</div>
					<div class="col-5 border border-1 rounded-3 mx-auto py-1" style="border-style: dashed !important">
						<p>هزینه</p>
						<p>12,000 ریال</p>

					</div>
				</div>
			</div>
			<div class="py-3 mx-auto">
				<div class="row  py-1">
					<div class="col-6">
						<Button Style="height:100px;width:100px" Type="@ButtonType.Dashed">افزودن هزینه</Button>
					</div>
					<div class="col-6">
						<Button Style="height:100px;width:100px" Type="@ButtonType.Dashed">افزودن درآمد</Button>
					</div>
				</div>
				<div class="row  py-1">
					<div class="col-4">
						<Button Style="height:100px;width:100px" Type="@ButtonType.Dashed">بانک ها</Button>
					</div>
					<div class="col-4">
						<Button Style="height:100px;width:100px" Type="@ButtonType.Dashed">حساب ها</Button>
					</div>
					<div class="col-4">
						<Button Style="height:100px;width:100px" Type="@ButtonType.Dashed">طرف حسابها</Button>
					</div>
				</div>
				<div class="row  py-1">
					<div class="col-4">
						<Button Style="height:100px;width:100px" Type="@ButtonType.Dashed">رویداد ها</Button>
					</div>
					<div class="col-4">
						<Button Style="height:100px;width:100px" Type="@ButtonType.Dashed">دسته‌بندی ها</Button>
					</div>
					<div class="col-4">
						<Button Style="height:100px;width:100px" Type="@ButtonType.Dashed">پروژه‌ ها</Button>
					</div>
				</div>
				<div class="row  py-1">
					<div class="col-4">
						<Button Style="height:100px;width:100px" Type="@ButtonType.Dashed">ارز ها</Button>
					</div>
					<div class="col-4">
						<Button Style="height:100px;width:100px" Type="@ButtonType.Dashed">اعضای خانوده</Button>
					</div>
					<div class="col-4">
						<Button Style="height:100px;width:100px" Type="@ButtonType.Dashed">تنظمیات</Button>
					</div>
				</div>

			</div>
		</div>


		@*        <div class="nav-item px-3">
		<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
		<span class="oi oi-home" aria-hidden="true"></span> Home
		</NavLink>
		</div>
		<div class="nav-item px-3">
		<NavLink class="nav-link" href="counter">
		<span class="oi oi-plus" aria-hidden="true"></span> Counter
		</NavLink>
		</div>
		<div class="nav-item px-3">
		<NavLink class="nav-link" href="fetchdata">
		<span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
		</NavLink>
		</div>
		*@
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	[Parameter]
	public EventCallback<bool> collapseNavMenuEvent { get; set; }

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private async Task ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
		await collapseNavMenuEvent.InvokeAsync(collapseNavMenu);
	}
}
