@using ServerUI.Shared.Components
@using ViewModels.BankAccount;
@using ViewModels.Transactions;

<LoadingComponent Enabled="_isloading">
	<Table TItem="BankAccountViewModel"
		   DataSource="Transactions"
		   Total="Transactions.Count()"
			   Responsive
		   @bind-SelectedRows="SelectedRows">

		<Selection Align="ColumnAlign.Center" Fixed="_checkboxFix" Key="@(context.Id.ToString())" />
		@*		<ActionColumn Title="#">
		<Space>
		<SpaceItem>
		<Button OnClick="(() => GotoEdit(context.Id))"
		Shape="@ButtonShape.Circle"
		Type="@ButtonType.Text"
		Style="background-color:#fafafafa">
		@(context.Code)
		</Button>
		</SpaceItem>
		</Space>
		</ActionColumn>
		*@
		<PropertyColumn Title="@(Resources.DataDictionary.BankAccount)" Align="columnAlign" Property="c=>c.Name" Sortable Filterable />
		<PropertyColumn Title="@(Resources.DataDictionary.Bank)" Align="columnAlign" Property="c=>c.BankName" Sortable Filterable />
		<PropertyColumn Title="@(Resources.DataDictionary.CardNumber)" Align="columnAlign" Property="c=>c.CardNumber" Sortable Filterable />
		<PropertyColumn Title="@(Resources.DataDictionary.Sheba)" Align="columnAlign" Property="c=>c.Sheba" Sortable Filterable />

	</Table>
</LoadingComponent>


@code {
	bool _isloading = false;
	List<BankAccountViewModel> Transactions = new();
	IEnumerable<BankAccountViewModel> selectedRows;
	public IEnumerable<BankAccountViewModel> SelectedRows
	{
		get
		{
			return selectedRows;
		}
		set
		{
			selectedRows = value;
			//Index.CheckforSelection();
		}
	}
	ColumnAlign columnAlign = ColumnAlign.Right;

}